%% -*- erlang -*-
%% Config file for tellstick application.
%%
{erl_opts, [debug_info]}.

{deps,  [ {hex, ".*", {git, "git@github.com:tonyrog/hex.git"}},
	  {lager, ".*", {git, "git://github.com/Feuerlabs/lager.git",
			 "1.0.0.fl.2"}},
	  {gen_smtp, ".*", {git, "git://github.com/Vagabond/gen_smtp.git"}}
	]}.
