%% -*- erlang -*-
%%   sys.config example for hex_smtp plugin
%%

[
 {hex_smtp, 
  %% account configs
  [{foo,
    [{relay,    "<domain-name-or-host>"}, 
     {username, "user"},
     {password, "password"},
     {tls,if_available},
     {port,2525},
     {from, "User<user@domain.com>"},
     {date, true},
     {message_id, true}]
    }]}
].


  
